<a href="https://colab.research.google.com/github/Brunoupiic/computo_enla_nube/blob/main/Ejercicios_Computo_enla_nube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nombre: Bruno Zinedin Romero Rodriguez
Curso: Computo en la nube
Fecha: 17 de septiembre del 2023

 Ejercicio 1- Scopes

In [ ]:
# scopes1.py
# definimos una funcion llamada local
def local():
    m = 7
    print(m)
#definimos m como variable
m = 5
#ejecutamos la funcion
local()
print(m)

In [4]:
# scopes2.py
#funcion local
def local():
# m no esta definida desde la funcion local

# m es encontrada en el ambito global
    print(m, 'imprimir desde la funcion local')
m = 5
print(m, 'imprimir desde la funcion local')
local()

5 printing from the global scope
5 printing from the local scope

In [5]:
# scopes3.py
# Local, Enclosing and Global
def enclosing_func():
    m = 13
    def local():
# m no esta definida desde la funcion local
        print(m, 'imprimir desde la funcion local')
#llamando a la funcion local
    local()
m = 5
print(m, 'imprimir desde la funcion local')
enclosing_func()

5 printing from the global scope
13 printing from the local scope

Ejercicio 2- Clases

In [7]:
# bike.py
# creamos la clase bike
class Bike:
     def __init__(self, colour, frame_material):
        self.colour = colour
        self.frame_material = frame_material
     def brake(self):
        print("Frenado!")
#creamos par de instancias
red_bike = Bike('Rojo', 'Fibra de Carbon')
blue_bike = Bike('Azul', 'Acero')
# objetos que tenemos
print(red_bike.colour) # imprime: Rojo
print(red_bike.frame_material) # imprime: fibra de carbono
print(blue_bike.colour) # prints: Azul
print(blue_bike.frame_material) # imprime: Acero
# creamos el frenado
red_bike.brake() # prints: Frenado!

Rojo
Fibra de Carbon
Azul
Acero
Frenado!

In [10]:
age = 42
id(age)

134210796553744

In [15]:
class Person:
     def __init__(self, age):
         self.age = age

fab = Person(age=42)
print(fab.age)#imprime 42

print(id(fab))#nuevo id

print(id(fab.age))#nuevo id

fab.age = 25
print(id(fab)) #nuevo id para edad nueva 25

print(id(fab.age)) #nuevo id para edad nueva 25

42
134210368476960
134210796553744
134210368476960
134210796553200

Ejercicio 3- Numeros Complejos

In [18]:
c = 3.14 + 2.73j
c = complex(3.14, 2.73)
c = 3.14 + 2.73j

print(c.real)
print(c.imag) # parte imaginaria

print(c.conjugate()) # conjugado de A + Bj es A - Bj

print(c * 2) # multiplicacion

print(c ** 2) #  multiplicacion doble
#(2.4067000000000007+17.1444j)
d = 1 + 1j # suma y resta
print(c - d)
#(2.14+1.73j)

3.14
2.73
(3.14-2.73j)
(6.28+5.46j)
(2.4067000000000007+17.1444j)
(2.14+1.73j)

Ejercicio 4- Fracciones

In [22]:
from fractions import Fraction
print(Fraction(10, 6))

print(Fraction(1, 3) + Fraction(2, 3)) # 1/3 + 2/3 == 3/3 == 1/1

f = Fraction(10, 6)
print(f.numerator)

print(f.denominator)

print(f.as_integer_ratio())

5/3
1
5
3
(5, 3)


Secuencias inmutables

Ejercicio 5- Strings and bytes

In [5]:

str1 = 'This is a string. We built it with single quotes.'
str2 = "This is also a string, but built with double quotes."
str3 = '''This is built using triple quotes,
so it can span multiple lines.'''
str4 = """This too
is a multiline one
built with triple double-quotes."""
str4 #A
'This too\nis a multiline one\nbuilt with triple double-quotes.'
print(str4) #se imprime la variable

This too
is a multiline one
built with triple double-quotes.

Ejercicio 6

In [25]:
# ternary.py
order_total = int(input("Dime la cantidad: "))# GBP

if order_total > 100:
   discount = 25 # GBP
else:
   discount = 0 # GBP
print(order_total, discount)

Dime la cantidad: 100
100 0

Ejercicio 7

In [28]:
# simple.for.4.py
surnames = ['Rivest', 'Shamir', 'Adleman']
for position, surname in enumerate(surnames):
    print(position, surname)

0 Rivest
1 Shamir
2 Adleman

Ejercicio 8

In [29]:
# multiple.sequences.py
people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
for position in range(len(people)):
    person = people[position]
    age = ages[position]
    print(person, age)

Nick 23
Rick 24
Roger 23
Syd 21

Ejercicio 9

In [30]:
# binary.py
n = 39
remainders = []
while n > 0:
    remainder = n % 2 # resto de la divisiÃ³n por 2
    remainders.append(remainder) # hacemos un seguimiento de los restos
    n //= 2 # dividimos n por 2
remainders.reverse()
print(remainders)

[1, 0, 0, 1, 1, 1]

In [34]:
# binary.2.py
n = int(input("Numero a binario: "))
remainders = []
while n > 0:
    n, remainder = divmod(n, 2)
    remainders.append(remainder)
remainders.reverse()
print(remainders)

Numero a binario: 39
[1, 0, 0, 1, 1, 1]

Ejercicio 10

In [35]:
# multiple.sequences.while.py
people = ['Nick', 'Rick', 'Roger', 'Syd']
ages = [23, 24, 23, 21]
position = 0
while position < len(people):
    person = people[position]
    age = ages[position]
    print(person, age)
    position += 1

Nick 23
Rick 24
Roger 23
Syd 21

Ejercicio 11

In [36]:
# discount.py
from datetime import date, timedelta
today = date.today()
tomorrow = today + timedelta(days=1) # hoy + 1 dia es manana
products = [
{'sku': '1', 'expiration_date': today, 'price': 100.0},
{'sku': '2', 'expiration_date': tomorrow, 'price': 50},
{'sku': '3', 'expiration_date': today, 'price': 20},
]
for product in products:
    if product['expiration_date'] != today:
        continue
    product['price'] *= 0.8 # equivalente para aplicar 20% de descuento
    print(
         'Price for sku', product['sku'],
         'is now', product['price'])

Price for sku 1 is now 80.0
Price for sku 3 is now 16.0